<div class="column is-4">
    <div class="block homeblock">
    <h1>Phill's Blog Homepage</h1>
    
    <p>
        Hello there. I'm Phill. This is a public blog of a few selected notes. You can check out my <a href="https://phillipw.info">personal website</a> about more information about myself. 
        You can reach me at <em>hncswpy [at] gmail [dot] com</em>.
    </p>

    <p>
        You can view a list of my blog articles by clicking <m>Notes</m> in the navigation bar or <a href="../notes">Click Here</a>.
    </p>
    </div>
</div>
